--add-opens java.base/java.lang=ALL-UNNAMED
--add-opens java.base/java.util=ALL-UNNAMED
--add-opens jdk.naming.dns/com.sun.jndi.dns=ALL-UNNAMED
--add-exports jdk.naming.dns/com.sun.jndi.dns=java.naming
-Dsun.net.spi.nameservice.nameservers=8.8.8.8,1.1.1.1
-Dsun.net.spi.nameservice.provider.1=dns,sun
-Dcom.sun.jndi.dns.url=dns://8.8.8.8
